<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="controllers/loginRedirectController.js"></script>
<script src="controllers/contentController.js"></script>
<head>
    <title>Snowman Home</title>
</head>
<body ng-app="home" ng-controller="loginRedirect">
<div ng-controller="contentController">
    <div>
        <h1>Welcome {{ userEmail }} - {{ role }}</h1>
        <button ng-click="logout()">logout</button>
    </div>
    <iframe ng-if="role == 'user'" frameborder="0" style="overflow:hidden; 
         display:block; position: absolute; height: 100%; width: 100%" src="user.html"></iframe>
    <iframe ng-if="role == 'provider'" frameborder="0" style="overflow:hidden; 
         display:block; position: absolute; height: 100%; width: 100%" src="provider.html"></iframe>
    <iframe ng-if="role == 'admin'" frameborder="0" style="overflow:hidden; 
         display:block; position: absolute; height: 100%; width: 100%" src="admin.html"></iframe>
</div>
</body>
</html>