<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="controllers/indexController.js"></script>
<script src="controllers/userController.js"></script>

<head>
	<title>Snowman Home</title>
		<meta charset="utf-8">
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
</head>
<body ng-app="snowmanApp" ng-controller="indexController">
		<form action="" method="POST">
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_zlIlMao9i1p5xMkfkmFMOalp"
		    data-image="/images/ilash_logo.png"
		    data-name="iLash Checkout"
		    data-description="Snow Removal"
		    data-amount="2000"
		    data-locale="auto">
		  </script>
		</form>
	<div ng-if="isAuthenticated == false" class="login-form">
		<form ng-controller="indexController">
		<img src="images/ilash_logo.png" alt=""/><br/>&nbsp;
			<li>
				<input type="text" class="text" ng-model="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" ><a href="#" class=" icon user"></a>
			</li>
			<li>
				<input type="password" ng-model="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
			</li>
			<div align="center">
			<input type="submit" ng-click="login()" value="SIGN IN">
			</div>
		</form>
	</div>
	<div ng-if="isAuthenticated == true">
		<h1>Welcome {{ userEmail }} - {{ role }}</h1>
		<button ng-click="logout()">logout</button>
		
		<div ng-if="role == 'user'" ng-controller="userController">
		<h1>{{ value }}</h1>
	        <div>
	            <form novalidate>
	                Service Name:<br>
	                <input type="text" ng-model="service_name">
	                <button ng-click="submit()">create</button>
	            </form>
	        </div>
	        <div>
	            <h3>Pending Requests (no provider yet)</h3>
	            <ul>
	                <li ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">{{ obj.name }}</li>
	            </ul>
	        </div>
	        <div>
	            <h3>Incomplete Jobs</h3>
	            <ul>
	                <li ng-repeat="obj in service_request_data | filter:{ completed: false, provider: '!n/a'}">{{ obj.name }} ({{ obj.provider}})</li>
	            </ul>
	        </div>
	        <div>
	            <h3>Completed Jobs</h3>
	            <ul>
	                <li ng-repeat="obj in service_request_data | filter:{ completed: true}">{{ obj.name }} ({{ obj.provider}})</li>
	            </ul>
	        </div>
	    </div>
	</div>
</body>
</html>